{% extends 'base.html' %}{% load static %} 
{% block content %}
<div class="jumbotron">
    <div class="container">
      <h1 class="display-3">Hello, World!</h1>
      <p>This website is complete solution to your medical needs</p>
    </div>
</div>
<div class="container">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-4">
        <h2>Consultation</h2>
        <p>We have some best in class doctors to help you. 
          upcare is the best to trust for sure
        </p>
        
      </div>
      <div class="col-md-4">
        <h2>Pharmacy</h2>
        <p>you can chose from a large range of pharmacies from your
          locality.We do have pin and buy option to pin your
          prescription and buy medicines
        </p>
      </div>
      <div class="col-md-4">
        <h2>Diagnosing</h2>
        <p>We have the best labs with us to help you with most precise results</p>
      </div>
    </div>

    <hr>

  </div>
{% endblock %}
