{% extends 'base.html' %}{% load static %} {% block content %}

<!-- Page Content -->
<div class="content">
   <div class="container-fluid">
      <div class="row">
         <div class="col-md-8 offset-md-2">
            <!-- Register Content -->
            <div class="account-content">
               <div class="row align-items-center justify-content-center">
                  <div class="col-md-12 col-lg-6 ">
                     <div class="login-header ">
                        <h2>Update Profile </h2>
                     </div>
                     <br>
                     <form method="POST" action="">
                        {% csrf_token %} 
                        {% for hidden_field in form.hidden_fields %}
                        {{ hidden_field }}
                        {% endfor %}
                        {% for field in form.visible_fields %}
                        <div class="row">
                           <div class="form-group form-focus col-md-12 col-lg-6 ">
                              {{ field.label_tag }}
                           </div>
                           {% comment %} &nbsp;
                           &nbsp; {% endcomment %}
                           <div class="form-group form-focus col-md-12 col-lg-6 ">
                              {{ field }}
                           </div>
                        </div>
                        {% endfor %}
                        <span>{{form.errors}}</span>
                        <br>
                        <button class="btn btn-primary btn-block btn-lg login-btn" type="submit">Update</button>
                     </form>
                  </div>
               </div>
            </div>
            <!-- /Register Content -->
         </div>
      </div>
   </div>
</div>

{% endblock %}
