{% extends 'pathology/navigationbar.html' %}
{% load static %}
{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <div class="box-element">
                <a href="{% url 'pathology' %}" class="btn btn-outline-dark">&#x2190; Continue Shopping</a>
                <br>
                <br>
                <center><h2>Order Success</h2></center>
                <center><h5>Your Shipment will be delivered soon</h5></center>
            </div>
            <br>
        </div>
    </div>
{% endblock content %}