{% extends 'pharmacy/phamacistnav.html' %}
{% load static %} 
{% block content %}
{% if alert %}
    <script>alert("Your Cart Contained item from other Sellers are removed. ");</script>
{% endif %}
<div class="row mb-5">
    <div class="site-blocks-table">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th class="product-name">Product</th>
            <th class="product-price">Price</th>
            <th class="product-price">CP (Cost Price)</th>
            <th class="product-quantity">Available Quantity</th>
            <th class="product-name">Minimum Quantity</th>
            <th class="product-name">Brand</th>
            <th class="product-total">Margin Per Unit</th>
          </tr>
        </thead>
        <tbody>
            {% for product in products %}
            {% if product.available < product.minquantity %}
            <tr>
                <td class="product-name">
                  <h2 class="h5 text-black">{{product.name}}</h2>
                </td>
                <td>&#x20B9; {{product.price|floatformat:2}}</td>
                <td>&#x20B9; {{product.cp|floatformat:2}}</td>
                <td>{{product.available}}</td>
                <td>{{product.minquantity}}</td>
                <td>{{product.brand}}</td>
                <td>&#x20B9; {{product.profit}}</td>
              </tr>
            {% endif %}
            {% endfor %}
        </tbody>
    </table>
  </div>
</div>
{% endblock content %}