{% load static %}
<!DOCTYPE html> 
<html lang="en">
	
<!-- doccure/favourites.html  30 Nov 2019 04:12:16 GMT -->
<head>
		<meta charset="utf-8">
		<title>Upcare</title>

		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
		<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link href="https://fonts.googleapis.com/css?family=Rubik:400,700|Crimson+Text:400,400i" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'pharmacy2/fonts/icomoon/style.css' %}">

  <link rel="stylesheet" href="{% static 'pharmacy2/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'pharmacy2/css/magnific-popup.css' %}">
  <link rel="stylesheet" href="{% static 'pharmacy2/css/jquery-ui.css' %}">
  <link rel="stylesheet" href="{% static 'pharmacy2/css/owl.carousel.min.css' %}">
  <link rel="stylesheet" href="{% static 'pharmacy2/css/owl.theme.default.min.css' %}">
  <link rel="stylesheet" href="{% static 'pharmacy2/css/aos.css' %}">
  <link rel="stylesheet" href="{% static 'pharmacy2/css/style.css' %}">
  <link href="{% static 'images/logo.png' %}" rel="icon">
  <link rel="stylesheet" href="{% static 'pharmacy2/assets/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'pharmacy2/assets/plugins/fontawesome/css/fontawesome.min.css' %}">
  <link rel="stylesheet" href="{% static 'pharmacy2/assets/plugins/fontawesome/css/all.min.css' %}">
		
		<!-- Main CSS -->
		<link rel="stylesheet" href="{% static 'pharmacy2/assets/css/style.css' %}">
		
		<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!--[if lt IE 9]>
			<script src="assets/js/html5shiv.min.js"></script>
			<script src="assets/js/respond.min.js"></script>
		<![endif]-->
	<script type="text/javascript">
      function getCookies(name){
        var cookieValue = null;
        if(document.cookie && document.cookie !==''){
          var cookies = document.cookie.split(';');
          for(var i=0;i<cookies.length;i++){
            var cookie = cookies[i].trim();
            if(cookie.substring(0,name.length+1)===(name + '=')){
              cookieValue = decodeURIComponent(cookie.substring(name.length+1));
              break;
            }
          }
        }
        return cookieValue;
      }
      var csrftoken = getCookies('csrftoken');
    </script>
	
	</head>
	<body>

		<!-- Main Wrapper -->
		<div class="main-wrapper">
		
			<!-- Header -->
			<header class="header">
				<nav class="navbar navbar-expand-lg header-nav">
					<div class="navbar-header">
						<a id="mobile_btn" href="javascript:void(0);">
							<span class="bar-icon">
								<span></span>
								<span></span>
								<span></span>
							</span>
						</a>
						<a href="{% url 'pharmacy' %}" class="navbar-brand logo">
							<img src="{% static 'images/logo.png' %}"   class="img-fluid" height="50px" width="50px" alt="Logo">
						</a>
					</div>
					<div class="main-menu-wrapper">
						<div class="menu-header">
							<a href="{% url 'pharmacy' %}" class="menu-logo">
								<img src="{% static 'images/logo.png' %}"  class="img-fluid" height="50px" width="50px" alt="Logo">
							</a>
							<a id="menu_close" class="menu-close" href="javascript:void(0);">
								<i class="fas fa-times"></i>
							</a>
						</div>

						<ul class="main-nav">
							<li >
								<a href="{% url 'home' %}">Home</a>
							</li>
							<li class="has-submenu">
								<a href="{% url 'pharmacy' %}">Pharmacy</a>
								
							</li>	
							<li class="has-submenu">
								<a href="{% url 'myorders' %}">My Orders </a>
							</li>
							
							
						</ul>	 
					</div>		 
					<ul class="nav header-navbar-rht">

						
						 <div class="site-navbar py-2">

      
<a><font color ="white"> Hello,{{name}} </font></a>&nbsp; &nbsp;
   <a href="
                    {% if groupname == 'pharmacist' %}
                        {% url 'walkincart' %}
                    {% endif %}
                    {% if groupname == 'patient' %}
                        {% url 'cart' %}
                    {% endif %}
                  " class="icons-btn d-inline-block bag">
              <span class="icon-shopping-bag"></span>
              <span class="number">{{ordercount}}</span>
            </a>
            &ensp;
          <li class="nav-item">
							<a class="nav-link header-login" href="{% url 'logoutUser' %}">logout </a>
						</li>
          
        </div>
      </div>
    </div>
						<!-- User Menu -->
						 
						<!-- /User Menu -->
						
					</ul>
				</nav>
			</header>
			<!-- /Header -->
			
			<!-- Breadcrumb -->
			<div class="breadcrumb-bar">
				<div class="container-fluid">
					<div class="row align-items-center">
						<div class="col-md-12 col-12">
							<nav aria-label="breadcrumb" class="page-breadcrumb">
								
							</nav>
							<h2 class="breadcrumb-title">Pharmacy</h2>
						</div>
					</div>
				</div>
			</div>
			<!-- /Breadcrumb -->
			<div class="site-wrap">
			<!-- Page Content -->
			<div class="site-wrap">


   

   

    <div class="site-section">
      <div class="container">
    {% block content %}
    
    {% endblock content %}
  </div>
  <!-- Footer -->
  
  <!-- /Footer -->
   
</div>
<!-- /Main Wrapper -->

<!-- jQuery -->
<script src="{% static 'pharmacy2/assets/js/jquery.min.js' %}"></script>

<!-- Bootstrap Core JS -->
<script src="{% static 'pharmacy2/assets/js/popper.min.js' %}"></script>
<script src="{% static 'pharmacy2/assets/js/bootstrap.min.js' %}"></script>

<!-- Sticky Sidebar JS -->
    <script src="{% static 'pharmacy2/assets/plugins/theia-sticky-sidebar/ResizeSensor.js' %}"></script>
    <script src="{% static 'pharmacy2/assets/plugins/theia-sticky-sidebar/theia-sticky-sidebar.js' %}"></script>

<!-- Custom JS -->
<script src="{% static 'pharmacy2/assets/js/script.js' %}"></script>

<script src="{% static 'pharmacy2/js/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'pharmacy2/js/jquery-ui.js' %}"></script>
<script src="{% static 'pharmacy2/js/popper.min.js' %}"></script>
<script src="{% static 'pharmacy2/js/bootstrap.min.js' %}"></script>
<script src="{% static 'pharmacy2/js/owl.carousel.min.js' %}"></script>
<script src="{% static 'pharmacy2/js/jquery.magnific-popup.min.js' %}"></script>
<script src="{% static 'pharmacy2/js/aos.js' %}"></script>

<script src="{% static 'pharmacy2/js/main.js' %}"></script>
<script type="text/javascript" src="{% static 'pharmacy2/js/walkincart.js' %}"></script>
<script type="text/javascript" src="{% static 'pharmacy2/js/cart.js' %}"></script>
<script type="text/javascript" src="{% static 'pharmacy2/js/deleteitem.js' %}"></script>
<script type="text/javascript" src="{% static 'pharmacy2/js/orderdeliver.js' %}"></script>
<script type="text/javascript">
var user = '{{request.user}}'
</script>
</body>

<!-- doccure/favourites.html  30 Nov 2019 04:12:17 GMT -->
</html>